<!-- First Search Grid -->
<mat-grid-list cols="1" rowHeight="2:1" style="margin: 1%;text-align: center;" [gutterSize]="'10px'">
<mat-form-field appearance="fill" style="width: 100%;">
    <mat-label>Search</mat-label>
    <input matInput>
  </mat-form-field>
  </mat-grid-list>
<!-- /////// -->

  <!-- Second-grid| desktop|mobile|Tabs also --> 
<mat-grid-list  cols="{{columns}}" rowHeight="2:1" style="margin: 1%;" [gutterSize]="'10px'" (window:resize)="onResize($event)">
    <mat-grid-tile class="tiles" *ngFor="let nft of nftsForSale" colspan="2" rowspan="3">
      <div style="text-align: center;display: block;">
        <img src="{{nft.image}}" alt="Card image cap" style="text-align: center;"/>
        <mat-grid-tile-footer>
          <h3><b>{{nft.name}}</b></h3>&nbsp;
          <h3><b>{{nft.price}}ETH: </b></h3>
          <button mat-raised-button color="primary" style="margin-left:2%" (click)="buyNft(nft)">Buy</button>
          </mat-grid-tile-footer>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
<!-- ...... -->
