<mat-grid-list cols="7" rowHeight="4:5" style="margin: 1%;" [gutterSize]="'10px'">
    <mat-grid-tile class="tiles">1</mat-grid-tile>
    <mat-grid-tile class="tiles">2</mat-grid-tile>
    <mat-grid-tile class="tiles">3</mat-grid-tile>
    <mat-grid-tile class="tiles">4</mat-grid-tile>
    <mat-grid-tile class="tiles">5</mat-grid-tile>
    <mat-grid-tile class="tiles">6</mat-grid-tile>
    <mat-grid-tile class="tiles">7</mat-grid-tile>
    <mat-grid-tile class="tiles">8</mat-grid-tile>
    <mat-grid-tile class="tiles">9</mat-grid-tile>
    <mat-grid-tile class="tiles">10</mat-grid-tile>
  </mat-grid-list>